* {
 font-family:'Courier New', Courier, monospace;
}

.tarjeta { 
  width: 400px;
  height: 550px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
  background-color:antiquewhite;    
}

.header {
  width: 100%;
  height: 40%;
  background-color: rgb(48, 120, 255);
  border-radius: 20px 20px 0px 0px;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.circulo {
  border: 5px solid white ;
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  border-radius: 50%;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%)
}

.texto {
  padding: 20px;
}

.links {
  padding: 20px;
}