* {
 font-family:'Courier New', Courier, monospace;
}

body {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.tarjeta { 
  width: 400px;
  height: 550px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  background-color:rgb(250, 254, 255);  
  position: relative;  
}

.header {
  width: 100%;
  height: 40%;
  background-color: rgb(48, 120, 255);
  border-radius: 20px 20px 0px 0px;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.circulo {
  border: 5px solid white ;
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  border-radius: 50%;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%)
}

.texto {
  padding: 20px;
}

.texto > h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

.texto > #formacion {
  color:rgb(48, 120, 255);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

#informacion {
  color: rgba(0, 0, 0, 0.526);
  text-align:center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 350;
}

.links {
  display: flex;
  align-items: center; /* axis Y */
  justify-content: space-between; /* axis X y los espacios */
  padding: 20px;
  position: absolute;
  bottom: 0;
  column-gap: 25px;
}

a {
  color:rgba(0, 0, 0, 0.4);
  padding: 10px 17px;
  border-radius: 10px;
  text-decoration: none;
  font-family:Georgia, 'Times New Roman', Times, serif;
  transition: all 500ms;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

a:hover {
  /* Color de fondo */
  background-color: rgba(0, 0, 0, 0.1);
  /* Color de texto */
  color: black;
}

.whatsapp {
  background-color: #6e86ff;
  transition: all ease 500ms;
  color: white;
}

.whatsapp:hover {
  background-color: #6c84fe;
  transform: scale(1.05);
}